@media only screen and (max-width: 1600px) { 
  //parallax
  .slider_icons-bubbles_parallax-right {
    top: 186px;
    right: 41px;
    width: calc(106.35px + 10%);
    height: calc(567px - 10%);
  }
  .slider_icons-bubbles_parallax-right {
    right: 51px;
    width: calc(182.35px + 10%);
    height: calc(564px - 10%);
  }
  .slider_icons-bubbles_parallax-left {
    width: calc(383.06px - 40px);
    height: calc(492.48px - 40px);
  }
  //slider_icons
  .slider_icons-img_top-group_wrapper {
    margin-left: calc(46.5% - 10%);
  }
  .slider_icons-img_middle-group_wrapper {
    margin-left: calc(36.6% - 10%);
  }
  .slider_icons-img_bottom-group_wrapper {
    margin-left: calc(46.5% - 10%);
  }

}
@media only screen and (max-width: 1189px) {
  //header
  /*.nav_logo {
    width: calc(30% - 10px);

  }*/
  .nav_logo-img {
    margin-left: calc(75px - 20px);
  }
  .nav_menu {
    //width: calc(100% - 35%);
    margin-left: calc(86px - 20px);
  }
  .nav_menu-wrapper {
    width: calc(900px - 500px);
  }
}

@media only screen and (max-width: 1080px) {
  //header
  .nav_logo-img {
    margin-left: calc(75px - 40px);
  }
  .nav_menu {
    margin-left: calc(86px - 40px);
  }
  .nav_menu-wrapper {
    width: calc(850px - 500px);
  }
}
@media only screen and (max-width: 960px) {
  //header
  .nav_logo-img {
    margin-left: 0;
  }
  .nav_menu {
    margin-left: 0;
  }
  .nav_menu-wrapper {
    width: calc(825px - 500px);
  }
  .menu_button {
    margin-right: 50px;
  }
}
@media only screen and (max-width: 900px) {
  //header
  .nav_logo{
    width: 350px;
  }
  .nav_menu-wrapper {
    width: calc(800px - 500px);
  }
  .menu_button {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 800px) {
  //header
  .nav_menu-wrapper, .menu_button-wrapper {
    display: none;
  }
  .nav_wrapper {
    width: 100%;
    height: 140px;
  }
  .nav_logo {
    width: 100%;
    text-align: center;
  }
  .nav_logo-img {
    display: inline-block;
    margin: 0;
    margin-top: 11px;
  }
  
  //slider icons
  .slider_icons-wrapper {
    display: none;
  }
  .slider_icons-wrapper_bg {
    display: none;
  }

  //bxslider
  .slider_bx-wrapper {
    display: block;
    width: 100%;
    height: calc(690px + 52px);
    //height: 690px;
  }
  .slider_bx-fruties_img-wrappper {
    width: 100%;
    //height: 44%;
    height: calc(44% + 150px);
    text-align: center;
  }
  .slider_bx-fruties_img{
    width: 100%;
    height: calc(100% - 86px);
  }
  .slider_bx-h1_wrapper {
    width: 100%;
    text-align: center;
    margin-top: -64px;
  }
  .slider_bx-h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
  }

  .bx-wrapper {
    background: none;
    box-shadow: none;
    border: none;
    margin-top: 50px;
  }
  .bx-wrapper{
    position: relative;
  }
  .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #A6ABBD;
  }
  .slider .bx-controls{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .bx-controls {
    margin-top: 30px;
  }
   
  /* Кнопки управления */
  .slider .bx-controls-direction {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .slider .bx-controls-direction a:hover {
    filter: brightness(90%);
  }
   .bx-prev {
    background: url(../img/dest/prev_button.svg) 0 0 no-repeat; 
    display: inline-block; 
    width: 30px;
    height: 30px;	
    position: absolute;
    margin-top: 24px;	
    margin-left: -80px;
    overflow: hidden;
    text-indent: 999px; 
    z-index: 1000;
  }
  .bx-next {
    background: url(../img/dest/next_button.svg) 0 0 no-repeat;    
    display: inline-block; 
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 24px;	
    margin-left: 67px;
    overflow: hidden;
    text-indent: 999px;
    z-index: 1000;
  } 
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #E7EBF0;
    padding-top: 20px;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #E7EBF0;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .bx-wrapper .bx-pager.bx-default-pager a.active,
  .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #A6ABBD;
  }
  .bx-wrapper .bx-pager-item,
  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    vertical-align: bottom;
    *zoom: 1;
    *display: inline;
  }
  .bx-wrapper .bx-pager-item {
    font-size: 0;
    line-height: 0;
  }  
  //message
  .message {
    width: 100%;
    height: 597px;
  }
}
@media only screen and (max-width: 480px) { 
  //header
  .nav_logo {
    width: 100%;
    height: 63px;
  }
  .nav_logo-img {
    width: 216px;
  }
  //slider bx
  .slider_bx-fruties_img-wrappper {
    height: calc(44% + 96px);
  }
}
@media only screen and (max-width: 320px) { 

}
