.slider_icons-wrapper {
  width: 100%;
  height: 947px;
}
.slider_icons-wrapper_bg {
  background: url("data:image/svg+xml,%3Csvg width='1920' height='947' viewBox='0 0 1920 947' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1920V947H0V0Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='0.500001' y1='12.5' x2='1423.5' y2='1122' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E2E2E2'/%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
  background: -webkit-linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
  background: -ms-linear-gradient(rgba(255, 255, 255, 0) 86.46%, 111.04deg, #E2E2E2 0.39%,);
}

.slider_icons-head {
  width: 100%;
  height: 148px;
  text-align: center;
}

.slider_icons-line {
  width: 100%;
  height: 79px;
}
.icon_line {
  display: inline-block;
  width: 184px;
  height: 100%;
  margin-left: 77px;
  border-bottom: 4px solid #00C368;
}
.slider-icons-h1 {
  display: inline-block;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #2E3A59;
  margin-top: 17px;
  margin-left: 85px;
}

.slider_icons-bubbles_parallax-left {
  position: absolute;
  top: 549px;
  width: calc(571.06px - 40px);
  height: calc(590.48px - 40px);
}
.slider_icons-bubbles_parallax-right {
  position: absolute;
  top: 223px;
  right: 53px;
  width: calc(294.35px + 10%);
  height: calc(689px - 10%);
}


.slider_icons-img {
  width: 100%;
  height: 77.7%;
  text-align: center;
}

.slider_icons-img_top-group {
  //display: inline-block;
  width: 100%;
  height: 156px;
  margin-top: 63px;
}
.slider_icons-img_top-group_wrapper {
  width: 459.6px;
  height: 100%;
  margin-left: calc(48.5% - 10%);
}
.slider_icons-img_items {
  stroke-width: 2;
  stroke: #2E3A59;
  z-index: 1000;
  cursor: pointer;
}
.slider_icons-img_items:hover {
  stroke: #00C368;
}
.slider_icons-headphones_wrappper {
  float: left;
}
.slider_icons-parcel_wrappper {
  float: right;
}
.slider_icons-text {
  line-height: 19px;
}
.slider_icons-parcel {
  z-index: 100;
}
.slider_icons-text {
  width: 176px;
  height: 57px;
  text-align: center;
}

//middle
.slider_icons-img_middle-group {
  width: 100%;
  height: 45%;
  display: inline-block;
}
.slider_icons-img_middle-group_wrapper {
  width: 844px;
  height: 83.2%;
  margin-top: 3%;
  margin-left: calc(38.6% - 10%);
}
.slider_icons-notebook_wrappper {
  float: left;
  margin-top: 78px;
}
.slider_icons-notebook {
  margin-left: 53px;
}

.slider_icons-notebook_sm-part {
  position: relative;
  right: 67px;
  top: 19px;
}
.slider_icons-fruties_img-wrappper {
  float: left;
  width: calc(403.34px + 10%);
  height: calc(254px + 10%);
}

.slider-icons_fruties-img {
  width: calc(441.34px + 10%);
  margin-top: 12px;
  height: 316px;
}
.slider_icons-stability_24_wrappper {
  float: left;
  margin-top: 71px;
}
.stability_24-wrapper {
  width: 97px;
  height: 96px;
  margin-left: 45px;
}
.slider_icons-stability_24 {
  filter: drop-shadow(4px 4px 8px #A6ABBD);
}
.slider_icons-stability_24-sm_vector {
  position: relative;
  top: 6px;
  right: 11px;
  filter: drop-shadow(4px 4px 8px #A6ABBD);
}

.slider_icons-stability_24-sm_rectangle {
  position: relative;
  left: 36px;
  bottom: 20px;
  filter: drop-shadow(4px 4px 8px #A6ABBD);
}

//bottom-group
.slider_icons-img_bottom-group {
  width: 100%;
  height: 186px;
  margin-top: 12px;
}
.slider_icons-img_bottom-group_wrapper {
  width: 459.6px;
  height: 100%;
  margin-left: calc(48.5% - 10%);
}


//bxslider
.slider_bx-wrapper {
  display: none;
  width: 100%;
  height: calc(690px + 52px);
  //height: 690px;
}
.slider_bx-fruties_img-wrappper {
  width: 100%;
  //height: 44%;
  height: calc(44% + 150px);
  text-align: center;
}
.slider_bx-fruties_img{
  width: 100%;
  height: calc(100% - 86px);
}
.slider_bx-h1_wrapper {
  width: 100%;
  text-align: center;
  margin-top: -64px;
}
.slider_bx-h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.bx-wrapper {
  background: none;
  box-shadow: none;
  border: none;
  margin-top: 50px;
}
.bx-wrapper{
  position: relative;
}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #A6ABBD;
}
.slider .bx-controls{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bx-controls {
  margin-top: 30px;
}
 
/* Кнопки управления */
.slider .bx-controls-direction {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider .bx-controls-direction a:hover {
  filter: brightness(90%);
}
 .bx-prev {
  background: url(../img/dest/prev_button.svg) 0 0 no-repeat; 
  display: inline-block; 
  width: 30px;
  height: 30px;	
  position: absolute;
  margin-top: 24px;	
  //margin-left: -80px;
  left: 91px;
  overflow: hidden;
  text-indent: 999px; 
  z-index: 1000;
}
.bx-next {
  background: url(../img/dest/next_button.svg) 0 0 no-repeat;    
  display: inline-block; 
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: 24px;	
  right: 74px;
  //margin-left: 67px;
  overflow: hidden;
  text-indent: 999px;
  z-index: 1000;
} 
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #E7EBF0;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #E7EBF0;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #A6ABBD;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}